.Header
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 44px 
  gap: 10px

  .Logo 
    display: flex
    flex-direction: row
    align-items: center

    .img 
      max-width: 32px
      max-height: 32px
      margin-right: 10px

    .p 
      font-size: 16px
      color: black
      font-weight: 400
      margin: 0

    .div 
      display: flex
      flex-direction: column
      align-items: flex-start

  .SearchContainer
    display: flex
    align-items: center
    gap: 4px
    border: 1px solid lightgrey
    border-radius: 3px 
    padding: 8px 10px
    width: 100%
    max-width: 690px

    .SearchBar
      width: 100%
      max-width: 100%
      height: 24px
    
  .BtnsContainer
    display: flex
    gap: 10px

    .BtnLogIn
      display: flex
      background-color: #1890FF
      color: white
      height: 40px
      padding: 8px 16px
      align-items: center
      gap: 4px
      border-radius: 4px 

    .BtnCart
      display: flex
      background-color: #F5F5F5
      height: 40px
      padding: 8px 16px
      border: 1px solid lightgrey
      align-items: center
      gap: 4px
      border-radius: 4px 