.Banner
  display: flex
  align-items: center
  margin-top: 40px
  border-radius: 10px
  background-color: rgb(255 241 184)

  .BannerContainer
    width: 100%
    max-width: 45%
    display: flex
    flex-direction: column
    gap: 15px
    margin-left: 70px 
  
  .BannerImg
    width: 100%
    max-width: 100%
    height: 300px
    object-fit: cover
