.Banner
  display: flex
  align-items: center
  margin-top: 40px
  border-radius: 10px
  background-color: rgb(255 241 184)
  @media (min-width: 600px)
    background-image: url('./Banner.png')
    background-size: contain
    background-position: right
    background-repeat: no-repeat
  @media (max-width: 600px)
    background-image: none

  .BannerContainer
    width: 100%
    max-width: 45%
    height: 300px
    display: flex
    flex-direction: column
    justify-content: center 
    gap: 15px
    margin-left: 70px 
    @media (max-width: 768px)
      max-width: 50%
      margin: 20px 
    @media (max-width: 600px)
      max-width: 100%
      margin: 20px 